/* Markdown 内容样式 */

/* 代码样式 */
code {
  padding: 0 0.4em;
  line-height: 1.1rem;
  border-radius: 0.25rem;
  background-color: hsl(var(--sidebar-primary));
  color: hsl(var(--sidebar-primary-foreground));
  display: inline-block;
  text-wrap: auto;
}
